/* 
Declaration block:
selector{
    property: value;
    property2: value;
*/

body{
    background-color: gold;
    color:black;
}

nav{
    list-style: square;
    height: 600;
    width: 200;
    float: left;
    padding: 5px;
    line-height: 30px;

}
a:link{
    color:goldenrod;
    background-color: transparent;
    text-decoration: solid;
}

a:visited{
    color:royalblue;
    background-color: transparent;
    text-decoration: none;

}

a:hover{
    color:red;
    background-color: transparent;
    text-decoration: none;
}

a:active{
    color:purple;
    background-color: transparent;
    text-decoration: underline;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 200px;
    width: 400px;
}

h1{
    text-align:center;
}
ol{
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-style: normal;
}